*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins';
}
header{
    background-color:#3f3f3e;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;


}
ul li a{
    position: relative; 
}
.nav_bar{
    padding-top: 1%;
    display: flex;
    justify-content: center;

}
.nav_bar a{
    max-width: max-content;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-bottom: solid hidden;

}
.nav_link:hover{
    color: #3f3f3e;
    transition: 0.3s;
    
}
.navlist a::after{
    content: '';
    position: absolute;
    left: -.2vw;
    right: 5vw;
    bottom: 0;
    width: 110%;
    height: 100%;
    background: #F4A950;
    border-radius: 50px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .3s;

}
.navlist a:hover::after{
    transform-origin: center;
    transform: scaleX(1);

}


.logo1{
    width: 30%;
    display: flex;

}
.logo1 img{
    width: clamp(100px, 5vw, 120px);

}
.nav_bar{
    display: flex;
    align-items:center;
    justify-content: space-around;

}

.navlist li{
    display: inline;
    padding: 30px;


}
#menu-icon{
    color: white;
    font-size: 55px;
    z-index: 10001;
    cursor: pointer;
    display: none;

}




@media (max-width:1035px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 10%;
        right: -100%;
        width: 200px;
        height: 40vh;
        background: #3f3f3e;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        display: flex;
        margin: 8px 0;
        margin-left: 0;
    }
    .navlist.open{
        right: 0;
    }
}





.naslov{
    -webkit-text-stroke: 1px black;
    color: #F4A950;
    min-height: 30vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: clamp(24px, 1.7vw, 60px);
    padding-bottom: 5%;
}








.kontakt_obrazec{
    display: flex;
    justify-content: center;
    padding-bottom: 5vw;
}
.item{
    width: 100%;
    height: 650px;
    max-width: 70%;
    background: #F4A950;
    border-radius: 20px;
    box-shadow: 0 0 30px 5px rgba(0,0,0,5);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

@media(max-width:1000px){
    .item{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 15vw;
        max-width: 90%;
    }
}
@media(max-width:711px){
    .item{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 20vw;
        max-width: 90%;
    }
}
@media(max-width:540px){
    .item{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 25vw;
        max-width: 90%;
    }
}
@media(max-width:440px){
    .item{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 30vw;
        max-width: 90%;
    }
}

.contact{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.slika_kontakt img{
    width: 60%;
    border-radius: 0;
}
.contact .slika_kontakt{
    display: flex;
    justify-content: center;
}




.third_text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: #3f3f3e;
}
form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
}
.input_box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #3f3f3e;
    font-size: 16px;
}
.input_box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #3f3f3e;
    transition: 0.3s;
}
.input_box .input:focus ~ label,
.input_box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background: #F4A950;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
}
textarea.input{
    resize: none;
    min-height: 150px;
    overflow: auto;
}
.btn{
    position: relative;
    top: 100px;
    width: 10vw; /* Ensure this does not exceed viewport */
    padding: 10px;
    color: #F4A950;
    border: none;
    border-radius: 10px;
    font-size: clamp(14px, 1vw, 120px);
    background: linear-gradient(to left, #3f3f3e 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease, color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-weight: 100;
}

.btn:hover {
    background-position: left;
    cursor: pointer;
    color: #3f3f3e;
    transition: .3s;
}







.lokacija_kontakt{
    text-align: center;
    padding-top: 2vw;
}
.lokacija_kontakt a{
    color: #000;
    font-size: clamp(12px, 1vw, 120px);
}
.mail{
    text-align: center;
    padding-top: 1vw;
}
.mail a{
    color: black;
    font-size: clamp(12px, 1vw, 120px);
}
.telefon a{
    color: black;
    font-size: clamp(12px, 1vw, 120px);
}
.telefon{
    text-align: center;
    padding-top: 1vw;
}









@media(max-width:1133px){
    .btn{
        width: 15vw;
    }
}
@media(max-width:755px){
    .btn{
        width: 20vw;
    }
}
@media(max-width:566px){
    .btn{
        width: 25vw;
    }
}
@media(max-width:453px){
    .btn{
        width: 33vw;
    }
}

@media(max-width:1000px){
    .contact{
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
}

@media(max-width:575px){
    .input_box{
        width: 70%;
    }
}









footer{
    background-color: #3f3f3e;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.naslov_noga{
    display: flex;
    justify-content: center;
    padding-top: 3vw;
    color: #F4A950;
}
.cela_noga{
    padding-bottom: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.naslov_storitve_noga{
    color: #fff;
    font-variant: small-caps;
    font-size: clamp(15px, 1.5vw, 120px);
}
.storitve_noga{
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}
.storitve_noga a{
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: clamp(12px, 1vw, 120px);
}
.noga{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.noga a{
    color: #fff;
    font-size: clamp(12px, 1vw, 120px);
    font-weight: 100;
    text-decoration: none;
}
.lokacija_noga{
    display: flex;
    align-items: center;
    gap: .6vw;
}
.tel_noga{
    display: flex;
    gap: .6vw;
}
.mail_noga{
    display: flex;
    gap: .6vw;

}

.navbar2{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navbar2 li a{
    color: white;
    font-size: clamp(10px, 1.2vw, 20px);
    text-decoration: none;
    font-weight: 100;
}



@media(max-width:685px){
    .cela_noga{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5vw;
    }
    .naslov_noga{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}




.avtorske{
    background: #000;
    display: flex;
    justify-content: center;
}
.avtorske p{
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-size: clamp(8px, .6vw, 120px);
}
.avtorske a{
    color: #fff;
}
